{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <fieldset disabled>
            <div class="row disabled">
                <div class="col col-8">
                    Название: <input type="text" value="{{ snippet.name }}" class="form-control">
                </div>
                <div class="col col-4">
                    Дата создания:<input type="text" value="{{ snippet.creation_date }}" class="form-control">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="p-2 h-100" style="border:1px solid #ced4da; border-radius:5px;">
                        <p>
                            {{ snippet.code }}
                        </p>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
{% endblock %}