{% extends 'base.html' %}
{% block content %}
    {% load my_tags %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>На данной страницы отображаются все сниппеты.</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="GET">
                    <select name="lang">
                        <option value="py" {% if lang == "py" %}selected{% endif %}>python</option>
                        <option value="js" {% if lang == "js" %}selected{% endif %}>javascript</option>
                        <option value="cpp" {% if lang == "cpp" %}selected{% endif %}>C++</option>
                    </select>
                    <button type="submit">Применить</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Язык</th>
                        <th scope="col">Автор</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for snippet in snippets %}
                        <tr>
                            <td scope="row">{{ snippet.id }}</td>
                            <td>
                                <a href="{% url 'snippet-detail' snippet.id %}">
                                    {{ snippet.name }}
                                </a>
                                <a href="{% url 'snippet-delete' snippet.id %}">
                                    <i style="color: #da7b87" class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                            <td>{{ snippet.creation_date }}</td>
                            <td>{{ snippet.lang }}</td>
                            <td>{{ snippet.user | is_empty:"Аноним" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div align="right">
                    <i style="color: gray;">Всего сниппетов: 2</i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}