{% load static %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" width="32" height="32" alt="">
                PythonBin
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="form-inline">
                        <a class="btn btn-outline-secondary" href="{% url 'snippet-add' %}">
                            Добавить сниппет
                        </a>
                    </li>
                    <li class="form-inline">
                        <a class="btn btn-outline-info" href="{% url 'snippet-list' %}">
                            Посмотреть сниппеты
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>