{% load static %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" width="32" height="32" alt="">
                PythonBin
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="form-inline">
                        <a class="btn btn-outline-secondary" href="{% url 'snippet-add' %}">
                            Добавить сниппет
                        </a>
                    </li>
                    <li class="form-inline">
                        <a class="btn btn-outline-info" href="{% url 'snippet-list' %}">
                            Посмотреть сниппеты
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="form-inline">
                        <a class="btn btn-outline-info" href="{% url 'snippet-my' %}">
                            Мои сниппеты
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% if request.user.is_authenticated %}
                <span style="color: white">Welcome, {{ request.user.username }}</span>
                <div><a href="{% url 'logout' %}">logout</a></div>
            {% else %}
                <form method="post" action="{% url 'login' %}">{% csrf_token %}
                    <input name="username" type="text" placeholder="username">
                    <input name="password" type="password" placeholder="password">
                    {% if errors %}
                        <ul class="errors">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <button type="submit">login</button>
                </form>
                <a href="{% url 'register' %}">register</a>
            {% endif %}


        </div>
    </nav>
</header>